.launchcard-wrapper{
    flex: 50%;
    margin: 30px -10px;

    .card-container{
        margin: -20px 25px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display: flex;
        flex-direction: column;
        height: 100%;

        h3{
            color: #181818;
        }

        ul{
            list-style: none;
            padding: 0;
            flex-grow: 1;

            li{
                margin: 5px 0px;
                color: #1f1f1f;

                &.launch-time{
                    font-weight: 700;
                    margin-bottom: 15px;

                    span.time-zone{
                        color: rgba(#1f1f1f, 0.5);
                    }
                }

                &.location{
                    margin-top: 15px;

                    span.base{
                        color: rgba(#1f1f1f, 0.75);
                    }
                    
                    svg{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 992px){
    .launchcard-wrapper{
        flex: 100%;
    }
}